.app__projects {
    background: rgb(51, 54, 71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app__projects-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.app__projects-head h1 {
    font-size: 86px;
    text-transform: uppercase;
    color: var(--color-textHeading);
}

.app__projects-head p {
    font-size: 20px;
    line-height: 1.5em;
    width: 80%;
    color: var(--color-text);
    text-align: center;
    margin-bottom: 5rem;
}

.app__projects-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5rem ;
}

.app__projects-content-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0;
}

.app__projects-content-project-info {
    margin-left: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
}

.app__projects-content-project-info h2 {
    font-size: 38px;
    color: var(--color-textHeading);
}

.app__projects-content-project-info p {
    margin: 1rem 0;
    font-size: 20px;
    line-height: 1.5em;
    width: 100%;
    color: var(--color-text);
}