.app__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background);
    min-height: 100vh;
    padding-bottom: 3rem;
}

.app__contact-head {
    text-align: center;
    margin-top: 8rem;
}

.app__contact-head h1 {
    font-size: 86px;
    text-transform: uppercase;
    color: var(--color-textHeading);
}

.app__contact-head p {
    font-size: 22px;
    line-height: 1.5em;
    text-align: center;
    color: var(--color-text);
}

.app__contact-form {
    background: var(--color-60);
    margin-top: 4rem;
    width: 40%;
    padding: 1rem;
    border-radius: 15px;
}

.app__contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app__contact-form label {
    margin: 0.5rem 0;
    font-size: 22px;
    line-height: 1.5em;
    color: var(--color-textHeading) ;
}

.app__contact-form input {
    border-radius: 10px;
    height: 38px;
    font-size: 1.3rem;
}

.app__contact-form textarea {
    border-radius: 10px;
    font-size: 1.3rem;
}

.app__contact-form button {
    align-self: end;
}